/********** Fixes **********/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.grid-container {
  display: grid;
  grid-template-columns: 33.3%;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.grid-item2 {
  grid-column-start: 3;
  grid-column-end: 4;

}

.grid-item3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-item5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.wrapper {
  margin: 0, auto;
}

.border_right {
  float: left;
  width: 33.3%;
  padding-left: 20px;
}

.footer {
  clear: both;
}